<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
        {% for meal in meals %}
<!--        the .1 is the index-->
        <h1>{{ meal.1 }}</h1>
            {% for row in item_list %}
                {% if row.meal_type == meal.0 %}
                    {% if row.status == 0 %}
<!--                            see urls.py-->
                            <a href="{% url 'menu_item' row.pk %}"><h2><del>{{ row.meal }}</del></h2></a>
<!--                            <a href="https://food.grab.com/ph/en/"><h2><del>{{ row.meal }}</del></h2></a>-->
<!--                        <p>{{ row.description }}</p>-->
                    {% else  %}
                        <h2>{{ row.meal }}</h2>
                        <p>{{ row.description }}</p>
                    {% endif %}
                {% endif %}
    <!--        <h3>{{ sangkap }}</h3>-->
            {% endfor %}
        {% endfor %}
</body>
</html>